@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/* ================================= 
  Base Layout Styles
==================================== */

body {
    font-family: 'Poppins', serif;
    color: rgb(110, 110, 110);
    background-color: #fff;
}

.grid-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

/* ================================= 
    img
==================================== */

img {
    height: 50px;
    width: 50px;
}

.profile-image {
    border-radius: 50%;
}


/* ================================= 
    header
==================================== */

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #7477bf;
    padding: 1rem;
    color: #fff;
}

.bold {
    font-weight: 500;

}
.thin {
    font-weight: 200;
}


.bell {
    height: 30px;
    width: 30px;
}

#head-name {
    color: #fff;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 16px;
}

/* ================================= 
    nav
==================================== */

nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #4d4c72;
    padding: 0;
}

.nav-img {
    padding: 10px;
    margin: 10px;
}


/* ================================= 
    dashboard
==================================== */

.dashboard {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.headline {
    padding: 20px 70px 20px 20px;
    background-color: #fff;
    border-right: 1px solid rgb(238, 238, 238);
    font-weight: 400;
}

.dash-search {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* ================================= 
    main
==================================== */

h3 {
    text-transform: uppercase;
    font-weight: 400;
}

main {
    grid-area: main;
}

/* ================================= 
    traffic
==================================== */


.traffic-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.traffic-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.traffic li {
    margin: 0 15px;
    cursor: pointer;
}


.traffic li:nth-of-type(3) {
    background-color: rgb(115, 221, 115);
    color: #fff;
    border-radius: 20px;
    padding: 7px;
}


/* ================================= 
    widgets
==================================== */

.widget-container-full, 
.widget-container-half {
    width: 95vw;
}

/* ================================= 
    social
==================================== */

.social-stats {
    display: flex;
}

.social-container {
    border: 1px solid lightgray;
    padding: 15px 12px;
    margin: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    display: flex;
}

.social-image {
    background-color: #7477bf;
    border-radius: 50%;
    padding: 10px;
    display: flex;
}

.social-image svg {
    height: 50px;
    width: 50px;
}

.social-text {
    padding: 10px;
}
.social-text p:first-child {
    font-weight: 500;
    color: #7477bf;
}

.social-text p:last-child {
    font-weight: 200;
    font-size: 50px;
}

/* ================================= 
   media query
==================================== */

@media (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main"
    }

    .widgets {
        display: grid;
        grid-template-columns: 49%;
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .traffic, 
    .social-stats {
        grid-column: 1 / span 2;
    }

    .daily-traffic,
    .new-members,
    .message-user {
        grid-column: 1 / span 1;
    }

    .mobile-users,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

}